* {
  box-sizing: border-box;
  overflow: scroll;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  flex-direction: column;
  font-family: 'Press Start 2P', cursive;
  background-color: white;
}

.grid {
  align-items: center;
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 90%;
  width: 50%;
  background-color: whitesmoke;
  margin-top: 2px;
}

.grid div {
  border: 1px solid grey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

button{
  margin-top: -20px;
  height: 40px;
  width: 80px;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

.clicked{
  background-color: lightgrey;
  text-align: center;
}

.right-click{
  background-image: url(../images/Minesweeper_flag.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
    /* background-color: blue; */
}

.mine-exposed{
  background-image: url(../images/mine.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: none;
}

.mine-exposed-win{
  background-image: url(../images/solider2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: none;
}

header{
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4{
  margin: 0 auto;
}

main{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 50vw;
}

.empty{
  width: 25%
}

.board{
  border: 3px solid darkslategrey;
  height: 40%;
  margin-left: 4vw;
  margin-right: 2vw;
  margin-top: 5vw;
  background-color: lightgrey;
}

#mobile{
  display: none;
}

.title{
  font-size: 1.3vw;
  text-align: center;
}

.instructions{
  font-size: 1.3vw;
  font-family: 'Playfair Display SC', serif;
  margin: 3px;
  line-height: 20px;
  text-emphasis: bold;
  margin-left: 10px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: none;
  width: 60px;
  height: 34px;
  margin-top: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 26px;
  left: 2px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px red;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 600px){
  .switch {
    display: inline-block;
    height: 24px;
  }
  main{
    height: 60vw;
    width: 100vw;
  }
  .instructions{
    line-height: 10px;
    margin-left: 3px;
  }
  button{
    margin-top: 10px; 
  }
  #mobile{
    display: inline-block;
    height: 85px; 
  }
}
