* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  flex-direction: column;
  font-family: 'Press Start 2P', cursive;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 450px;
  width: 450px;
}

.grid div {
  border: 1px solid grey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.clicked{
  background-color: lightgrey;
  text-align: center;
}

.right-click{
  background-image: url(../images/Minesweeper_flag.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
    /* background-color: blue; */
}

.mine-exposed{
  background-image: url(../images/mine.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: none;
}

header{
  margin-bottom: 15px;
}